<head>
  <title>Pepita's log</title>
</head>
<body>
  <h1 id="h1Title">Pepita's energy: 380</h1>
  <img img id="pepita" src="https://upload.wikimedia.org/wikipedia/commons/
2/2f/Pied-winged_swallow_%28Hirundo_leucosoma%29.jpg"
      alt="" width="300">
    <div>
        <input id="eatInput" type="number" placeholder="Grams">
        <button onclick="eatButtonPressed()">Eat</button>
        <br>
        <input id="flyInput" type="number"
placeholder="Kilometers">
        <button onclick="flyButtonPressed()">Fly</button>
    </div>
    <script>
        class Swallow {
          constructor() {
            this.energy = 0
          }
          eat(grams) {
            this.energy = this.energy + grams * 4
          }
          fly(kilometers) {
            this.energy = this.energy - kilometers * 2
          }
        }
          let pepita = new Swallow()
          function eatButtonPressed() {
            let grams = document.getElementById("eatInput").value
            pepita.eat(grams)
            updateTitle()
          }
          function flyButtonPressed() {
            let kilometers = document.getElementById("flyInput").value
            pepita.fly(kilometers)
            updateTitle()
          }
          function updateTitle() {
          let h1 = document.getElementById("h1Title")
          let img = document.getElementById("pepita")
          h1.innerHTML = "Pepita's energy: " + pepita.energy
          if (pepita.energy<0) {
          console.log("Dead")
          img.remove()
          h1.innerHTML = "Dead and Sad"
        }
          if(pepita.energy>1000) {
          document.getElementById("pepita").src = "ninja_pepita.PNG"
        }
          if(pepita.energy>9999) {
          document.getElementById("pepita").src = "super_pepita.PNG"
        }

        }
    </script>
</body>

</html>
